@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Eczar&display=swap');
@import './base.css';
@import 'tailwindcss';

@theme {
  --color-soft-pink: oklch(0.72 0.11 340);
  --color-light-peach: oklch(0.85 0.08 45);
  --color-cream: oklch(0.93 0.04 40);
  --color-mint-green: oklch(0.78 0.07 155);
  --color-dark-mint-green: oklch(0.5 0.1 155);
  --color-lavender: oklch(0.65 0.15 280);
  --font-radiate: 'Radiatesans', 'bold';
  --font-escar: 'Escar', 'sans';
  --font-work_sans: 'Work+Sans', 'sans-serif';
}

@font-face {
  font-family: Radiatesans;
  font-display: auto;
  font-style: normal;
  font-weight: 200 700;
  src: url('/fonts/radiatesans-bold.otf') format('opentype');
}

@font-face {
  font-family: Symbiosis;
  font-display: auto;
  font-style: normal;
  font-weight: 200 700;
  src:
    url('/fonts/Symbiosis.ttf') format('truetype'),
    url('/fonts/Symbiosis.otf') format('opentype');
}

.banner-1 {
  @apply px-5  pt-5 md:pt-10 lg:px-24 md:px-16;
  background-color: #ffeed9;
}

.banner-2 {
  @apply px-5  pt-5 md:pt-10 lg:px-24 md:px-16;
  background-color: #ffddbf;
}
.bg-yellowis {
  background-color: #ffddbf;
}
.hello-button {
  background-color: #ffddbf;
}
.menu-button {
  @apply lg:text-xl md:text-xl  font-bold font-work_sans hover:text-black;
  color: #594f43;
}

.submit-button {
  @apply border-gray-800   lg:text-xl md:text-xl text-xs py-2 px-4  lg:py-4 lg:px-8 rounded-2xl font-work_sans font-semibold;
}

.heading3 {
  color: #403930;
  @apply md:text-5xl text-xl font-bold font-work_sans tracking-wide;
}

.project-title {
  @apply text-gray-700 text-3xl md:text-4xl font-work_sans tracking-wide font-bold;
}

.card {
  @apply bg-white rounded-2xl md:flex place-items-center my-20 shadow-md;
}
.card-image {
  @apply md:w-1/2 md:rounded-r-2xl md:rounded-l-none rounded-b-2xl flex;
}

@layer utilities {
  .h-850 {
    height: 900px;
  }
}
