@import url('https://fonts.googleapis.com/css2?family=Mrs+Saint+Delafield&display=swap');
@import './base.css';
@import 'tailwindcss';

@theme {
  --color-soft-pink: oklch(0.72 0.11 340);
  --color-light-purple: #cb99c9;
  --color-light-pink: #f6b8d0;
  --color-eminence: #6c3082;
  --font-radiate: 'Radiatesans', 'bold';
  --font-radiate-regular: 'Radiatesans', 'regular';
  --font-mrsSaint: 'Mrs+Saint+Delafield', 'cursive';
  --font-symbiosis: 'Symbiosis', 'regular';
  --font-groovy-orange: 'Groovy';
}

@font-face {
  font-family: Radiatesans;
  font-display: auto;
  font-style: normal;
  font-weight: 200 700;
  src: url('/fonts/radiatesans-bold.otf') format('opentype');
}

@font-face {
  font-family: Symbiosis;
  font-display: auto;
  font-style: normal;
  font-weight: 200 700;
  src: url('/fonts/Symbiosis.otf') format('opentype');
}

@font-face {
  font-family: Groovy;
  font-display: auto;
  font-style: normal;
  font-weight: 200 700;
  src: url('/fonts/groovy_orange.otf') format('opentype');
}

@font-face {
  font-family: Radiatesans;
  font-display: auto;
  font-style: normal;
  font-weight: 200 700;
  src: url('/fonts/radiatesans-regular.otf') format('opentype');
}
